numpy==1.23.5
flask==3.1.0
psycopg[binary]==3.2.4
bcrypt==4.2.1
google-genai==1.50.0
docker==7.1.0
flask-sock==0.7.0
tavily-python==0.7.21
nvdlib==0.8.3
mitreattack-python==5.4.0
vt-py==0.22.0
requests==2.32.3
OTXv2==1.5.12
anthropic==0.79.0
pydantic==2.10.6
gunicorn==21.2.0
