.Login {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.login-card {
  max-width: 480px;
  width: 100%;
}

.login-alert {
  transition: opacity 0.5s ease;
}

.login-alert-fade {
  opacity: 0;
}
