POSTGRES_DB=incident_response
POSTGRES_USER=incident_response
POSTGRES_PASSWORD=CHANGE_ME_TO_A_STRONG_PASSWORD
ADMIN_USERNAME=admin
ADMIN_PASSWORD=CHANGE_ME_TO_A_STRONG_PASSWORD
GEMINI_API_KEY=CHANGE_ME_TO_YOUR_GEMINI_API_KEY
TAVILY_API_KEY=CHANGE_ME_TO_YOUR_TAVILY_API_KEY
NVD_API_KEY=CHANGE_ME_TO_YOUR_NVD_API_KEY
VIRUSTOTAL_API_KEY=CHANGE_ME_TO_YOUR_VIRUSTOTAL_API_KEY
ABUSEIPDB_API_KEY=CHANGE_ME_TO_YOUR_ABUSEIPDB_API_KEY
OTX_API_KEY=CHANGE_ME_TO_YOUR_OTX_API_KEY
ANTHROPIC_API_KEY=CHANGE_ME_TO_YOUR_ANTHROPIC_API_KEY
HOST=0.0.0.0

# --- Anonymization identity variables ---
AUTHOR_A_FULL="Author A Full Name"
AUTHOR_B_FULL="Author B Full Name"
AUTHOR_C_FULL="Author C Full Name"
AUTHOR_A_FAMILY="Author A Family Name"
AUTHOR_A_GIVEN="Author A Given Name"
AUTHOR_B_FAMILY="Author B Family Name"
AUTHOR_B_GIVEN="Author B Given Name"
AUTHOR_C_FAMILY="Author C Family Name"
AUTHOR_C_GIVEN="Author C Given Name"
AUTHOR_A_EMAIL_ACADEMIC="authorA@university.edu"
AUTHOR_A_EMAIL_PERSONAL="authorA@personal.com"
AUTHOR_A_WEBSITE="https://author-a-website.com"
GITHUB_REPO_URL="https://github.com/YourUsername/incident_response"
GITHUB_REPO_URL_GIT="https://github.com/YourUsername/incident_response.git"
GITHUB_USERNAME="YourGitHubUsername"
DOCKERHUB_USER_REAL="yourdockerhubuser"
AFFILIATION_1="Your University 1"
AFFILIATION_2="Your University 2"
