h5 {
  font-size: 13px;
}

h4 {
  font-size: 14px;
}

h3 {
  font-size: 14px;
}

h1 {
  font-size: 20px;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.App {
  text-align: center;
  padding-left: 0px;
  padding-right: 20px;
  margin: 10px;
  width: 100%;
}
